// bower:scss
@import 'bourbon';
@import "base/grid-settings";
@import 'neat'; 

// endbower 

// BASE
@import "base/colors";

@import "base/helpers";



//MODULES
@import "modules/m-deals";
@import "modules/m-buttons";
@import "modules/m-newsletter";
//LAYOUT
@import "layout/l-layout";


// Omega Reset
// ------------------------------------------------------------
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

body {
	font-family: 'Arial', sans-serif;
	color: $blackText;
}
.main {
    height: 1450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    @include background-image(url('../images/background-img.jpg'));
    @include media(min-width 320px max-width 767px, 4) {
        @include background-image(url('../images/background-img-mobile.png'));
        height: 439px;
    }
} 
.baner {
	width: 363px;
	height: 182px;
	background-color: $pink;
	@include margin(37px null null null);
	color: $banerTextColor;
	@include padding(25px 29px null null);
	text-align: right; 
	@include media(min-width 320px max-width 767px, 4) {
		margin: 0;
		float: right !important;
		padding: 15px;
		@include span-columns(7 of 12);
		width: 186px;
	    height: 86px;
	    h3 {
	    	font-size: 20px;
	    	line-height: 20px;
	    }
	    h1 {
	    	font-size: 34px;
	    	line-height: 34px;
	    }
	}
}