// Background
// $linkColor: #4183C4;
// $hoverColor: lighten($linkColor, 10);
// $borderColor: #b3b3b3;
$bgColor: #e9e4de;
$bgContainer: rgba(251, 250, 248, 0.8);
$pink: #ff3b6c;
$banerTextColor: #f6f5f2;
$blackText: #2c2c2c;
$mDealsListTitleColor: #ff0040;
$grey: #bfbdbd;
$mDealsItemGrey: #e9e8e6;
$white: #ffffff;
// Grays


// Borders



// Text

// Buttons

